cheat_sheet_statistik.aux
cheat_sheet_statistik.log
cheat_sheet_statistik.out
cheat_sheet_statistik.fdb_latexmk
cheat_sheet_statistik.fls
__latexindent_temp.tex
cheat_sheet_statistik.synctex.gz
.vscode
cheat_sheet_datamining.log
cheat_sheet_datamining.synctex.gz
cheat_sheet_datamining.aux
cheat_sheet_datamining.fdb_latexmk
cheat_sheet_datamining.fls
